<template>
  <Button :icon="icon" :label="text" :disabled="disabled"></Button>
</template>

<script>
import Button from "primevue/button";
export default {
  components: {
    Button,
  },
  props: {
    disabled: Boolean,
    icon: String,
    text: String,
  },
};
</script>
