<template>
  <ColorPicker v-model="value" />
</template>

<script>
import ColorPicker from "primevue/colorpicker";
export default {
  components: {
    ColorPicker,
  },
  computed: {
    value: {
      get() {
        return this.modelValue;
      },
      set(value) {
        this.$emit("update:modelValue", `#${value}`);
      },
    },
  },
  props: {
    modelValue: String,
  },
};
</script>
