<template>
  <Dropdown
    :disabled="disabled"
    :options="options"
    :option-value="optionValue"
    :optionLabel="optionLabel"
    :placeholder="placeholderText"
    :name="name"
    v-model="value"
  />
</template>

<script>
import Dropdown from "primevue/dropdown";
export default {
  components: {
    Dropdown,
  },
  computed: {
    value: {
      get() {
        return this.modelValue;
      },
      set(value) {
        this.$emit("update:modelValue", value);
      },
    },
  },
  props: {
    disabled: Boolean,
    options: Array,
    optionValue: String,
    optionLabel: String,
    placeholderText: String,
    name: String,
    modelValue: null,
  },
};
</script>
