<template>
  <SelectButton
    :options="options"
    option-label="label"
    option-value="value"
    v-model="value"
  />
</template>

<script>
import SelectButton from "primevue/selectbutton";
export default {
  components: {
    SelectButton,
  },
  computed: {
    value: {
      get() {
        return this.modelValue;
      },
      set(value) {
        this.$emit("update:modelValue", value);
      },
    },
  },
  props: {
    modelValue: null,
    options: Array,
  },
};
</script>
