<template>
  <h2>Your Brackets</h2>
  <div class="page-actions" v-if="authenticated">
    <router-link to="/brackets/new">
      <AppButton
        icon="pi pi-plus"
        class="p-button-success"
        text="Create new Bracket"
      />
    </router-link>
  </div>
  <div class="grid">
    <div class="grid-item event" v-for="bracket in brackets" :key="bracket.id">
      <router-link :to="`/brackets/${bracket.bracket}`" class="event-title">
        {{ bracket.expand.bracket.name }}
      </router-link>
      <span class="event-host">
        Hosted by:&nbsp;
        <router-link
          :to="`/profile/${bracket.expand.bracket.expand.owner.username}`"
        >
          {{ bracket.expand.bracket.expand.owner.username }}
        </router-link>
      </span>
      <span class="event-name">{{
        bracket.expand.bracket.expand.game_id.name
      }}</span>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import AppButton from "@/ui/AppButton.vue";

export default {
  components: {
    AppButton,
  },
  computed: {
    brackets: function () {
      return this.get_user_brackets(this.active_user.id);
    },
    ...mapGetters(["active_user", "authenticated", "get_user_brackets"]),
  },
  async created() {
    if (!this.brackets.length) {
      await this.fetchUserBrackets({ user_id: this.active_user.id });
    }
  },
  methods: {
    ...mapActions(["fetchUserBrackets"]),
  },
};
</script>

<style scoped>
.grid {
  display: grid;
  grid-template-rows: repeat(4, minmax(150px, 250px));
  grid-template-columns: repeat(4, minmax(150px, 250px));
  grid-row-gap: 15px;
  grid-column-gap: 15px;
}

.grid-item {
  align-items: center;
  justify-content: center;
  background-color: #e0e0e0;
  border: 1px solid gray;
}

.event {
  display: grid;
}

.event-title {
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.event-host {
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.event-name {
  grid-row: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
</style>
