<template>
  <div class="grid">
    <div class="col-2">
      <router-link :to="`/brackets/${id}`">Back to Bracket</router-link>
    </div>
    <div class="col-8"></div>
    <div class="col-2">
      <AppButton
        class="p-button"
        icon="pi pi-user-add"
        label="Add Manual Entry"
        v-on:click="showManualForm"
        :disabled="numbers_generated"
      />
      <OverlayPanel ref="op">
        <p>This will add someone who hasn't joined SportSquares.</p>
        <p>You will have to choose their picks.</p>
        <span class="p-input-icon-right">
          <InputText
            v-model="manualUser"
            type="text"
            placeholder="Their name"
          />
          <AppButton
            class="p-button-success"
            icon="pi pi-add-user"
            label="Add Manual Entry"
            v-on:click="addManual(manualUser)"
            :disabled="!manualUser"
          />
        </span>
      </OverlayPanel>
    </div>
  </div>
  <div class="grid">
    <div class="col-12">
      <DataTable :value="members" stripedRows class="members">
        <Column field="username" header="Username" :sortable="true"></Column>
        <Column
          field="expand.user.name"
          header="Name"
          :sortable="true"
        ></Column>
        <Column
          field="selected"
          header="Selected Squares"
          :sortable="true"
        ></Column>
        <Column field="entries" header="Remaining Picks" :sortable="true">
          <template #body="{ data }">
            {{ data.entries - data.selected }}
          </template>
        </Column>
        <Column field="entries" header="Total # Entries">
          <template #body="{ data }">
            <InputNumber
              v-model="data.entries"
              inputId="horizontal"
              showButtons
              :min="data.selected"
              :max="data.selected + free_squares"
              buttonLayout="horizontal"
              decrementButtonClass="p-button-danger"
              incrementButtonClass="p-button-success"
              incrementButtonIcon="pi pi-plus"
              decrementButtonIcon="pi pi-minus"
              :disabled="numbers_generated"
            />
          </template>
        </Column>
        <Column>
          <template #body="{ data }">
            <AppButton
              class="p-button-success"
              icon="pi pi-save"
              label="Save Picks"
              v-on:click="saveEntry(data.id, data.entries)"
              :disabled="numbers_generated"
            />
          </template>
        </Column>
        <Column>
          <template #body="{ data }">
            <AppButton
              class="p-button-danger"
              icon="pi pi-trash"
              label="Remove User"
              v-on:click="remove(data.id)"
              :disabled="numbers_generated || data.user === this.bracket.owner"
            />
          </template>
        </Column>
      </DataTable>
    </div>
  </div>
  <ConfirmDialog></ConfirmDialog>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { toastSuccess, toastError } from "@/lib/ToastService";
import AppButton from "@/ui/AppButton.vue";
import ConfirmDialog from "primevue/confirmdialog";
import DataTable from "primevue/datatable";
import Column from "primevue/column";

export default {
  components: { AppButton, Column, ConfirmDialog, DataTable },
  computed: {
    bracket: function () {
      return this.get_bracket(this.id);
    },
    entries: function () {
      return this.get_bracket_entries(this.id);
    },
    free_squares() {
      return 100 - this.entries.length;
    },
    members: function () {
      const members = this.get_bracket_members(this.id);
      members.forEach((member) => {
        member.selected = this.user_entries(member.id);
        if (member.expand.user?.username) {
          member.username = member.expand.user.username;
        } else if (member.custom_name) {
          member.username = member.custom_name;
        }
      });
      return members;
    },
    numbers_generated: function () {
      return this.bracket.squares && this.bracket.squares !== {};
    },
    ...mapGetters([
      "active_user",
      "get_bracket",
      "get_bracket_entries",
      "get_bracket_members",
    ]),
  },
  data() {
    return {
      id: null,
      manualUser: null,
    };
  },
  async created() {
    this.id = this.$route.params.id;
    if (!this.bracket) {
      await this.fetchBracket({ id: this.id });
    }

    if (this.active_user.id !== this.bracket.owner) {
      toastError("You are not allowed to modify this bracket");
      this.$router.push({ name: "view_bracket", params: { id: this.id } });
    }

    if (!this.entries.length) {
      await this.fetchSquares({ id: this.id });
    }

    if (!this.members.length) {
      await this.fetchMembers({ id: this.id });
    }
  },
  methods: {
    async addManual() {
      this.addManualBracketEntry({
        bracket_id: this.id,
        name: this.manualUser,
      }).then(() => {
        toastSuccess(`Added ${this.manualUser} to the pool.`);
        this.manualUser = null;
      });
    },
    async remove(member_id) {
      this.$confirm.require({
        message:
          "Are you sure you want to remove this member from the Bracket?" +
          "All of thier squares will be un-selected",
        header: "Remove User?",
        icon: "pi pi-exclamation-triangle",
        accept: async () => {
          await this.removeMember({ id: member_id }).then(() => {
            toastSuccess("Removed member from the bracket");
          });
        },
      });
    },
    async saveEntry(entry_id, entries) {
      await this.editMember({ id: entry_id, entries: entries })
        .then(() => {
          toastSuccess("Updated users picks.");
        })
        .catch(() => {
          toastError("Couldn't update users picks. Please try again");
        });
    },
    showManualForm(event) {
      this.$refs.op.toggle(event);
    },
    user_entries(member) {
      return this.entries.filter((entry) => entry.membership_id === member)
        .length;
    },
    ...mapActions([
      "addManualBracketEntry",
      "editMember",
      "fetchBracket",
      "fetchMembers",
      "fetchSquares",
      "removeMember",
    ]),
  },
};
</script>

<style scoped>
.members :deep(table) tr:nth-child(even) {
  background-color: #d7d7d7 !important;
}
</style>
