<template v-if="id">
  <div class="col-12 grid">
    <div class="col-12 sm:col-8 grid">
      <div class="col-12">
        <h2>{{ bracket.name }}</h2>
        <div class="owner">
          Hosted by:&nbsp;
          <router-link :to="`/profile/${bracket_owner}`">
            {{ bracket_owner }}
          </router-link>
        </div>
      </div>
      <div class="col-12">
        <div class="grid">
          <div class="col-3">How often do Squares change?</div>
          <div class="col-9">
            <span v-if="bracket.number_sets === 4">New numbers Quarterly</span>
            <span v-else-if="bracket.number_sets === 2"
              >New numbers each Half</span
            >
            <span v-else-if="bracket.number_sets === 1"
              >Same numbers all game</span
            >
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="grid">
          <div class="col-3">Squares Picked</div>
          <div class="col-9 description">
            {{ entries.length }} / 100 ({{ 100 - entries.length }} remaining)
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="grid">
          <div class="col-3">League Description</div>
          <div class="col-9 description">
            {{ description }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 sm:col-4 grid" v-if="is_bracket_admin">
      <div
        class="admin page-actions col-12 grid align-items-center align-content-center"
      >
        <div class="col-12">
          <strong>League Controls</strong>
        </div>
        <div class="col-12">
          <AppButton
            class="p-button-rounded"
            icon="pi pi-users"
            text="Assign Picks"
            v-on:click="editMembers"
          />
        </div>
        <div class="col-12">
          <AppButton
            class="p-button-rounded p-button-secondary"
            icon="pi pi-pencil"
            text="Edit Bracket Details"
            v-on:click="editBracket"
          />
        </div>
        <div class="col-12">
          <AppButton
            text="Generate Bracket"
            icon="pi pi-plus"
            class="p-button-rounded p-button-help"
            :disabled="!bracket_full || numbers_generated"
            v-on:click="generateNumbers()"
          />
        </div>
        <div class="col-12">
          <AppButton
            class="p-button-rounded p-button-success"
            icon="pi pi-share-alt"
            text="Invite Friends"
            v-on:click="share"
          />
          <OverlayPanel ref="op">
            <p>Share this link for your pool to anyone you want to join.</p>
            <p>Once they join, you can assign them picks.</p>
            <span class="p-input-icon-right">
              <InputText
                v-model="share_path"
                type="text"
                readonly
                @focus="$event.target.select()"
              />
              <i class="pi pi-copy" v-on:click="copyUrl(share_path)" />
            </span>
          </OverlayPanel>
        </div>
      </div>
    </div>

    <div class="col-12 grid" v-if="bracket_member && !bracket_full">
      <div class="col-12 sm:col-3">
        <AppButton
          class="p-button-rounded p-button-success"
          :disabled="selected_squares.length === 0"
          :text="`Reserve ${selected_squares.length} Selected Squares`"
          v-on:click="reserve"
        />
      </div>
      <div class="col-12 sm:col-9">
        <template v-if="remaining_squares > 0 && selected_squares.length === 0">
          To get started, select up to {{ remaining_squares }} more squares.
        </template>
        <template v-else-if="selected_squares.length > 0">
          You've selected {{ selected_squares.length }} out of
          {{ num_squares_available }} available. Click the Reserve Squares
          button to lock in your picks.
        </template>
        <template
          v-else-if="remaining_squares === 0 && selected_squares.length === 0"
        >
          You currently have no picks available. Contact the league owner for
          more picks.
        </template>
      </div>
    </div>
    <div class="col-12 grid" v-else-if="!bracket_member">
      <div class="col-12 page-actions">
        <AppButton
          v-if="!bracket_member && !disable_join"
          v-on:click="requestJoinBracket()"
          text="Join Bracket"
        />
      </div>
      <div class="col-12">
        To participate in this bracket, click the Join Bracket button. The
        Bracket owner will need to grant you picks before you can choose any
        squares.
      </div>
    </div>
    <div class="col-12 grid">
      <div v-if="bracket_full && !numbers_generated" class="col-12">
        Bracket is full. The host will generate the numbers soon.
      </div>
      <div v-else-if="bracket_full" class="col-12 grid">
        <div class="col-2">View numbers for:</div>
        <div class="col-10">
          <AppSelectButton :options="quarter_options" v-model="show_quarter" />
        </div>
      </div>
      <div v-if="show_quarter !== 'AllNumbers'" class="col-12 grid" >
        <Bracket
          :home_numbers="home_numbers"
          :away_numbers="away_numbers"
          :entries="entries"
          :selectable="remaining_squares > 0"
          :bracket_id="id"
          :bracket_owner="bracket.owner"
          :members="members"
          :numbers_generated="numbers_generated"
          :away_team_name="away_team_name"
          :home_team_name="home_team_name"
        />
      </div>
      <div v-else-if="show_quarter === 'AllNumbers'" class="col-12 grid">
        <BracketSquareUserSummary
          :entries="user_entries"
          :numbers="bracket.squares"
          :number_sets="bracket.number_sets"
        />
      </div>
    </div>
  </div>
  <ConfirmDialog></ConfirmDialog>
</template>

<script>
import Bracket from "@/components/Bracket.vue";
import { mapActions, mapGetters } from "vuex";
import { toastSuccess, toastError } from "@/lib/ToastService";
import AppButton from "@/ui/AppButton.vue";
import AppSelectButton from "@/ui/AppSelectButton.vue";
import ConfirmDialog from "primevue/confirmdialog";
import { getScores } from "@/lib/espn";
import BracketSquareUserSummary from "@/components/BracketSquareUserSummary.vue";

export default {
  components: {
    BracketSquareUserSummary,
    AppSelectButton,
    Bracket,
    AppButton,
    ConfirmDialog,
  },
  computed: {
    away_numbers: function () {
      if (
        this.numbers_generated &&
        this.bracket?.squares[this.show_quarter]?.away
      ) {
        return this.bracket.squares[this.show_quarter].away;
      }
      return new Array(10).fill("?");
    },
    bracket: function () {
      return this.get_bracket(this.id);
    },
    bracket_member: function () {
      return this.membership?.id !== undefined;
    },
    bracket_full: function () {
      return this.entries.length >= 100;
    },
    entries: function () {
      const entries = this.get_bracket_entries(this.id);
      const quarters = [];

      if (this.bracket?.number_sets === 1) {
        quarters.push(4);
      } else if (this.bracket?.number_sets === 2) {
        quarters.push(2, 4);
      } else if (this.bracket?.number_sets === 4) {
        quarters.push(1, 2, 3, 4);
      }

      if (this.numbers_generated) {
        entries.forEach((entry) => {
          entry.numbers = [];
          const awayIndex = Math.floor((entry.entry_number - 1) / 10);
          const homeIndex = (entry.entry_number - 1) % 10;

          quarters.forEach((quarterNumber) => {
            entry.numbers.push({
              quarter: quarterNumber,
              home_team: this.bracket.squares[`quarter${quarterNumber}`]?.home[homeIndex],
              away_team: this.bracket.squares[`quarter${quarterNumber}`]?.away[awayIndex],
            });
          });
        });
      }

      return entries;
    },
    home_numbers: function () {
      if (
        this.numbers_generated &&
        this.bracket?.squares[this.show_quarter]?.home
      ) {
        return this.bracket.squares[this.show_quarter].home;
      }
      return new Array(10).fill("?");
    },
    away_team_name: function () {
      return (
        this.scores?.competitions[0].competitors.filter(
          (comp) => comp.homeAway === "away"
        )[0].team.displayName ?? "San Francisco 49ers"
      );
    },
    home_team_name: function () {
      return (
        this.scores?.competitions[0].competitors.filter(
          (comp) => comp.homeAway === "home"
        )[0].team.displayName ?? "Kansas City Chiefs"
      );
    },
    is_bracket_admin: function () {
      return (
        this.active_user?.id && this.active_user?.id === this.bracket.owner
      );
    },
    members: function () {
      const members = this.get_bracket_members(this.id);
      members.forEach((member) => {
        if (member.expand.user?.username) {
          member.displayName = member.expand.user.username;
        } else if (member.custom_name) {
          member.displayName = member.custom_name;
        }
      });
      return members;
    },
    membership: function () {
      const membership = this.members.filter(
        (member) => member.user === this.active_user?.id
      );

      // TODO: Deal with handling if the user is listed multiple times
      return membership.length === 1 ? membership[0] : {};
    },
    numbers_generated: function () {
      return this.bracket?.squares && this.bracket?.squares !== {};
    },
    num_squares_available: function () {
      return this.membership.entries - this.user_entries.length;
    },
    quarter_options: function () {
      let quarter_options = [
        { label: "First Quarter", value: "quarter1" },
        { label: "Second Quarter", value: "quarter2" },
        { label: "Third Quarter", value: "quarter3" },
        { label: "Fourth Quarter", value: "quarter4" },
      ];

      if (this.active_user?.id) {
        quarter_options.push({ label: "All My Numbers", value: "AllNumbers" });
      }

      return quarter_options;
    },
    remaining_squares: function () {
      return (
        this.membership.entries -
        this.user_entries.length -
        this.selected_squares.length
      );
    },
    user_entries: function () {
      return this.entries.filter(
        (entry) => entry.user_id === this.active_user?.id
      );
    },
    ...mapGetters([
      "get_bracket",
      "get_bracket_entries",
      "get_bracket_members",
      "selected_squares",
      "active_user",
    ]),
  },
  data() {
    return {
      bracket_owner: null,
      description: null,
      disable_join: false,
      id: null,
      scores: null,
      share_path:
        window.location.origin + this.$router.currentRoute._rawValue.href,
      show_quarter: "quarter1",
      squares: new Array(100),
    };
  },
  async created() {
    this.id = this.$route.params.id;
    const promises = [];
    if (!this.bracket) {
      promises.push(this.fetchBracket({ id: this.id }));
    }

    if (!this.entries.length) {
      promises.push(this.fetchSquares({ id: this.id }));
    }

    if (!this.members.length) {
      promises.push(this.fetchMembers({ id: this.id }));
    }

    await Promise.all(promises).catch((e) => {
      console.error(e);
      this.disable_join = true;
    });

    this.scores = await getScores({
      sport: this.bracket.expand.game_id.sport,
      league: this.bracket.expand.game_id.league,
      game_name: this.bracket.expand.game_id.espn_shortname,
    });
  },
  methods: {
    async copyUrl(text) {
      await navigator.clipboard
        .writeText(text)
        .then(() => {
          toastSuccess("Copied to clipboard");
        })
        .catch((e) => {
          toastError("Couldn't copy to clipboard", e.message);
        });
    },
    share(event) {
      this.$refs.op.toggle(event);
    },
    async editMembers() {
      this.$router.push({
        name: "bracket_members",
        params: { id: this.id },
      });
    },
    async editBracket() {
      this.$router.push({
        name: "edit_bracket",
        params: { id: this.id },
      });
    },
    async generateNumbers() {
      this.$confirm.require({
        message:
          "Are you sure you are ready to generate the Bracket?" +
          "You will no longer be able to make changes to the Squares in this Bracket",
        header: "Generating Square Numbers",
        icon: "pi pi-exclamation-triangle",
        accept: async () => {
          await this.generateBracketNumbers({
            bracket_id: this.id,
            quarters: this.bracket.number_sets,
          });
        },
      });
    },
    async reserve() {
      if (!this.num_squares_available) {
        return false;
      }

      // Add a slight delay to not overwhelm Pocketbase if someone selects a lot of squares at once
      await this.reserve_selected_squares({
        bracket_id: this.id,
        membership_id: this.membership.id,
      });
    },
    async requestJoinBracket() {
      if (!this.active_user?.id) {
        this.$router.push({
          name: "login",
          query: { redirect: this.$router.currentRoute.value.fullPath },
        });
        return;
      }
      this.disable_join = true;
      await this.joinBracket({ bracket_id: this.id });
    },
    ...mapActions([
      "clear_selected_squares",
      "reserve_selected_squares",
      "joinBracket",
      "fetchBracket",
      "fetchMembers",
      "fetchSquares",
      "generateBracketNumbers",
    ]),
  },
  mounted() {
    this.clear_selected_squares();
  },
  watch: {
    entries(entries) {
      entries.forEach((entry) => {
        this.squares[entry.entry_number - 1] = {
          user: entry.expand.user_id,
        };
      });
    },
    bracket(bracket) {
      this.description = bracket.description;
      this.bracket_owner = bracket.expand.owner.username;
    },
  },
};
</script>

<style scoped>
.description {
  white-space: pre;
}

section.admin {
  border: 3px solid black;
  padding: 4px;
}

.owner {
  font-size: 0.8em;
}

i.pi-copy:hover {
  cursor: pointer;
}
</style>
