<template>
  <div class="grid">
    <h2>Create a new Bracket</h2>
    <div class="col-12 md:col-12">
      <div class="grid">
        <div class="col-2 md:col-2">
          <label for="name">Bracket Name</label>
        </div>
        <div class="col-8 md:col-8">
          <InputText id="name" type="text" name="name" v-model="name" />
        </div>
      </div>
    </div>
    <div class="col-12 md:col-12">
      <div class="grid">
        <div class="col-2 md:col-2">
          <label for="game_id">Game</label>
        </div>
        <div class="col-8 md:col-8">
          <AppDropdown
            :options="games"
            optionValue="id"
            optionLabel="name"
            placeholder="Select a Game"
            name="game_id"
            v-model="game_id"
          />
        </div>
      </div>
    </div>
    <div class="col-12 md:col-12">
      <div class="grid">
        <div class="col-2 md:col-2">
          <label for="sets_generated">
            How often should the square numbers change?
          </label>
        </div>
        <div class="col-8 md:col-8">
          <AppDropdown
            :options="available_sets"
            optionValue="id"
            optionLabel="name"
            name="sets_generated"
            v-model="sets_generated"
          />
        </div>
      </div>
    </div>
    <div class="col-12 md:col-12">
      <div class="grid">
        <div class="col-2 md:col-2">
          <label for="description">Bracket Description</label>
        </div>
        <div class="col-8 md:col-8">
          <Textarea
            :autoResize="true"
            rows="8"
            cols="30"
            id="description"
            name="description"
            v-model="description"
          ></Textarea>
        </div>
      </div>
    </div>

    <div>
      <AppButton
        text="Create Bracket"
        icon="pi pi-plus"
        class="p-button-success"
        v-on:click="createBracket"
      />
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import client from "@/data/pocketbase";
import AppButton from "@/ui/AppButton.vue";
import AppDropdown from "@/ui/AppDropdown.vue";

export default {
  components: { AppDropdown, AppButton },
  data() {
    return {
      available_sets: [],
      description: null,
      game_id: null,
      games: [],
      name: null,
      sets_generated: 4,
    };
  },
  methods: {
    async createBracket() {
      await this.createNewBracket({
        name: this.name,
        game_id: this.game_id,
        description: this.description,
        number_sets: this.sets_generated,
      }).then(async (response) => {
        await this.joinBracket({ bracket_id: response.id });
        this.$router.push({
          name: "view_bracket",
          params: { id: response.id },
        });
      });
    },
    fetchGames: async () => {
      const now = new Date().toISOString().slice(0, 10);
      const filter = `start_time > '${now}'`;
      return await client
        .collection("games")
        .getList(1, 100, { filter: filter })
        .catch((e) => {
          console.error(e);
        });
    },
    ...mapActions(["createNewBracket", "joinBracket"]),
  },
  mounted() {
    this.fetchGames(this.id).then((games) => {
      this.games = games.items;
    });
    this.available_sets.push({ id: 4, name: "New numbers Quarterly" });
    this.available_sets.push({ id: 2, name: "New numbers every half" });
    this.available_sets.push({ id: 1, name: "Same numbers all game" });
  },
};
</script>
