<template>
  <div class="grid">
    <div class="col-12">
      <h2>Edit your Profile</h2>
    </div>
    <div class="col-12 grid">
      <div class="col-2">
        <label for="username">Username</label>&nbsp;
        <AppHelpTooltip text="This name appears on brackets you join" />
      </div>
      <div class="col-10">
        <InputText
          id="username"
          type="text"
          name="username"
          v-model="username"
        />
      </div>
    </div>
    <div class="col-12 grid">
      <div class="col-2">
        <label for="email">Email Address</label>
      </div>
      <div class="col-10">
        <InputText
          id="email"
          type="email"
          name="email"
          v-model="email"
          disabled
        />
      </div>
    </div>
    <div class="col-12 grid">
      <div class="col-2">
        <label for="name">Your Name</label>&nbsp;
        <AppHelpTooltip
          text="We show this to the host of any Bracket you join"
        />
      </div>
      <div class="col-10">
        <InputText id="name" type="text" name="name" v-model="name" />
      </div>
    </div>
    <div class="col-12 grid">
      <div class="col-2">
        <label for="color">Square Color</label>&nbsp;
        <AppHelpTooltip text="Your squares will display as this color" />
      </div>
      <div class="col-10">
        <InputText id="color" type="text" name="color" v-model="color" />&nbsp;
        <AppColorpicker v-model="color" />
      </div>
    </div>
    <div class="col-12 grid">
      <div class="col-12">
        <AppButton
          icon="pi pi-plus"
          text="Update Profile"
          class="p-button-success"
          v-on:click="updateProfile"
        />
      </div>
      <div class="col-12">
        <router-link to="/logout" v-show="authenticated">Log Out</router-link>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import AppButton from "@/ui/AppButton.vue";
import AppColorpicker from "@/ui/AppColorpicker.vue";
import AppHelpTooltip from "@/ui/AppHelpTooltip.vue";

export default {
  components: { AppHelpTooltip, AppColorpicker, AppButton },
  computed: {
    ...mapGetters(["active_user", "authenticated"]),
  },
  created() {
    this.color = this.active_user.color;
    this.email = this.active_user.email;
    this.name = this.active_user.name;
    this.username = this.active_user.username;
  },
  data() {
    return {
      color: "#cccccc",
      email: null,
      name: null,
      username: null,
    };
  },
  methods: {
    async updateProfile() {
      await this.editUser({
        user_id: this.active_user.id,
        username: this.username,
        email: this.email,
        name: this.name,
        color: this.color,
      });
    },
    ...mapActions(["editUser"]),
  },
};
</script>
