<template v-if="id">
  <div class="grid">
    <div class="col-12 md:col-12">
      <h2>Edit Bracket</h2>
      <div>
        <router-link :to="`/brackets/${id}`">Back to Bracket</router-link>
      </div>
    </div>
    <div class="col-12 md:col-12">
      <div class="grid">
        <div class="col-2 md:col-2">
          <label for="name">Bracket Name</label>
        </div>
        <div class="col-8 md:col-8">
          <InputText id="name" type="text" name="name" v-model="bracket.name" />
        </div>
      </div>
    </div>
    <div class="col-12 md:col-12">
      <div class="grid">
        <div class="col-2 md:col-2">
          <label for="sets_generated">
            How often should the square numbers change?
          </label>
        </div>
        <div class="col-8 md:col-8">
          <AppDropdown
            :options="available_sets"
            optionValue="id"
            optionLabel="name"
            name="sets_generated"
            v-model="bracket.number_sets"
          />
        </div>
      </div>
    </div>
    <div class="col-12 md:col-12">
      <div class="grid">
        <div class="col-2 md:col-2">
          <label for="description">Bracket Description</label>
        </div>
        <div class="col-8 md:col-8">
          <Textarea
            :autoResize="true"
            rows="8"
            cols="30"
            id="description"
            name="description"
            v-model="bracket.description"
          ></Textarea>
        </div>
      </div>
    </div>
    <div class="col-12 sm:col-12">
      <div class="grid">
        <div class="col-2 sm:col-6">
          <AppButton
            text="Update Bracket"
            class="p-button-success"
            v-on:click="update"
          />
        </div>
        <div class="col-2 sm:col-6">
          <AppButton
            text="Delete Bracket"
            class="p-button-danger"
            v-on:click="remove"
          />
        </div>
      </div>
    </div>
  </div>
  <ConfirmDialog></ConfirmDialog>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { toastError } from "@/lib/ToastService";
import ConfirmDialog from "primevue/confirmdialog";
import AppButton from "@/ui/AppButton.vue";
import AppDropdown from "@/ui/AppDropdown.vue";

export default {
  components: {
    AppButton,
    AppDropdown,
    ConfirmDialog,
  },
  computed: {
    bracket: function () {
      return this.get_bracket(this.id);
    },
    ...mapGetters(["active_user", "authenticated", "get_bracket"]),
  },
  async created() {
    this.id = this.$route.params.id;
    this.available_sets.push({ id: 4, name: "New numbers Quarterly" });
    this.available_sets.push({ id: 2, name: "New numbers every half" });
    this.available_sets.push({ id: 1, name: "Same numbers all game" });

    if (!this.bracket) {
      await this.fetchBracket({ id: this.id });
    }

    if (this.active_user.id !== this.bracket.owner) {
      toastError("You are not allowed to modify this bracket");
      this.$router.push({ name: "view_bracket", params: { id: this.id } });
    }
  },
  data() {
    return {
      available_sets: [],
      id: null,
    };
  },
  methods: {
    async update() {
      await this.editBracket({
        bracket_id: this.id,
        name: this.bracket.name,
        description: this.bracket.description,
        number_sets: this.bracket.number_sets,
      }).then(() => {
        this.$router.push({ name: "view_bracket", params: { id: this.id } });
      });
    },
    remove() {
      this.$confirm.require({
        message:
          "Are you sure you want to delete this bracket? All entries will be lost.",
        header: "Delete Bracket",
        icon: "pi pi-exclamation-triangle",
        accept: () => {
          this.deleteBracket({
            bracket_id: this.id,
          }).then(() => {
            this.$router.push({ name: "list_brackets" });
          });
        },
      });
    },
    ...mapActions(["deleteBracket", "editBracket", "fetchBracket"]),
  },
};
</script>
