<template>
  <div class="grid">
    <div class="col-12">
      <h2>How SportSquares works</h2>
    </div>

    <div class="col-12">
      <h3>Step 1: Setup your Profile</h3>
    </div>
    <div class="col-12">
      You can sign up quickly using Facebook, Twitter or Google. After signing
      up, you can edit your profile to change what name displays on your
      squares. You can also choose a custom background color for your squares
    </div>

    <div class="col-12">
      <h3>Step 2: Joining a Bracket</h3>
    </div>
    <div class="col-12">
      To join a friends Bracket, have them send you a link to their bracket and
      click "Join Bracket". If you want to create your own Bracket, go to the
      Brackets page and click "Create New Bracket"
    </div>

    <div class="col-12">
      <h3>Step 3: Getting your Picks</h3>
    </div>
    <div class="col-12">
      Once you join a bracket, the bracket host has to assign you a number of
      squares you can pick. Once the host grants you picks, you will be able to
      choose your squares.
    </div>

    <div class="col-12">
      <h3>Step 4: Choosing your Squares</h3>
    </div>
    <div class="col-12">
      After you get your picks, just click on the squares you want, then press
      the "Reserve" button. The squares will be filled with your username and
      your square color.
    </div>

    <div class="col-12">
      <h3>Step 5: Getting your Numbers</h3>
    </div>
    <div class="col-12">
      After the Bracket has been filled, the host can generate the numbers. Your
      bracket may have different numbers in each quarter, each half, or keep the
      same numbers all game.
    </div>
  </div>
</template>

<script>
export default {};
</script>
