<template>
  <h2>Welcome to SportSquares</h2>
  <p>
    This app provides a simple way to setup Square pools for your friends and
    family. You can create as many pools as you want, each has 100 entries which
    are randomly assigned a unique combo of 0-9 for the Home and Away teams.
  </p>
  <p>
    Some pools may have fees and prizes if your square matches the final score
    of the game. It is the responsibility of the Bracket organizer to handle
    entry fees and prizes. This app only facilitates signing up for Squares and
    randomly assigning the numbers for each square once filled.
  </p>
  <p>Good luck!</p>
</template>

<script>
export default {};
</script>
