<template>
  <div class="grid>">
    <div class="col-12">
      <h2>Log in to get started</h2>
    </div>
    <div class="col-8 md:col-12 grid align-items-center">
      <div class="col-12 md:col-4" v-for="provider in authProviders">
        <AppButton
          :class="loginIconClass(provider.name)"
          :aria-label="provider.name"
          :text="`Login with ${provider.name}`"
          v-on:click="providerLogin(provider)"
        />
      </div>
    </div>
  </div>
  <div v-if="password_login_enabled">
    <label for="username">Username</label>
    <InputText id="username" type="text" name="username" v-model="username" />
    <label for="password">Password</label>
    <InputText
      id="password"
      type="password"
      name="password"
      v-model="password"
    />
    <AppButton class="p-button-secondary" v-on:click="doLogin">Login</AppButton>
  </div>
  <div v-if="password_login_enabled">
    Don't have an account yet? <router-link to="/register">Sign up</router-link>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import client from "@/data/pocketbase";
import AppButton from "@/ui/AppButton.vue";

export default {
  components: { AppButton },
  data() {
    return {
      authProviders: [],
      loginIcons: {
        facebook: {
          button: "facebook",
          icon: "pi pi-facebook px-2",
        },
        google: {
          button: "google",
          icon: "pi pi-google px-2",
        },
        twitter: {
          button: "twitter",
          icon: "pi pi-twitter px-2",
        },
      },
      password_login_enabled: false,
      username: null,
      password: null,
      redirect: null,
    };
  },
  async created() {
    const available_methods = await client
      .collection("users")
      .listAuthMethods();

    for (const provider of available_methods.authProviders) {
      const route = this.$router.resolve({ name: "oauth_redirect" });
      const redirectUrl = new URL(route.href, window.location.origin).href;
      provider.authUrl = provider.authUrl + redirectUrl;
      this.authProviders.push(provider);
    }

    if (this.$route.query.redirect) {
      this.redirect = this.$route.query.redirect;
    }
  },
  methods: {
    async doLogin() {
      await this.login({
        username: this.username,
        password: this.password,
      });
    },
    ...mapActions(["login"]),
    providerLogin(provider) {
      if (this.redirect) {
        localStorage.setItem("returnPage", this.redirect);
      }

      // store provider's data on click for verification in the redirect page
      localStorage.setItem("provider", JSON.stringify(provider));
      window.location = provider.authUrl;
    },
    loginIconClass(provider) {
      return `p-button pi ${provider} pi-${provider} px-2 pi-social`;
    },
  },
  watch: {
    "$store.state.user"() {
      this.$router.push({ path: "/" });
    },
  },
};
</script>

<style scoped>
.pi-social :deep(span) {
  margin-left: 4px;
}
.p-button {
  margin-right: 0.5rem;
}
.p-buttonset {
  .p-button {
    margin-right: 0;
  }
}
.sizes {
  .button {
    margin-bottom: 0.5rem;
    display: block;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.p-button i {
  line-height: 2.25rem;
}
.p-button.google {
  background: linear-gradient(
    to left,
    var(--purple-600) 50%,
    var(--purple-700) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.5s ease-out;
  color: #fff;
  border-color: var(--purple-700);
}
.p-button.google:hover {
  background-position: left bottom;
}
.p-button.google i {
  background-color: var(--purple-700);
}
.p-button.google:focus {
  box-shadow: 0 0 0 1px var(--purple-400);
}
.p-button.youtube {
  background: linear-gradient(
    to left,
    var(--pink-600) 50%,
    var(--pink-700) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.5s ease-out;
  color: #fff;
  border-color: var(--pink-700);
}
.p-button.youtube:hover {
  background-position: left bottom;
}
.p-button.youtube i {
  background-color: var(--pink-700);
}
.p-button.youtube:focus {
  box-shadow: 0 0 0 1px var(--pink-400);
}
.p-button.vimeo {
  background: linear-gradient(
    to left,
    var(--green-200) 50%,
    var(--green-300) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.5s ease-out;
  color: #000;
  border-color: var(--green-300);
}
.p-button.vimeo:hover {
  background-position: left bottom;
}
.p-button.vimeo i {
  background-color: var(--green-300);
}
.p-button.vimeo:focus {
  box-shadow: 0 0 0 1px var(--green-400);
}
.p-button.facebook {
  background: linear-gradient(
    to left,
    var(--indigo-600) 50%,
    var(--indigo-700) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.5s ease-out;
  color: #fff;
  border-color: var(--indigo-700);
}
.p-button.facebook:hover {
  background-position: left bottom;
}
.p-button.facebook i {
  background-color: var(--indigo-700);
}
.p-button.facebook:focus {
  box-shadow: 0 0 0 1px var(--indigo-400);
}
.p-button.twitter {
  background: linear-gradient(
    to left,
    var(--blue-400) 50%,
    var(--blue-500) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.5s ease-out;
  color: #fff;
  border-color: var(--blue-500);
}
.p-button.twitter:hover {
  background-position: left bottom;
}
.p-button.twitter i {
  background-color: var(--blue-500);
}
.p-button.twitter:focus {
  box-shadow: 0 0 0 1px var(--blue-200);
}
.p-button.slack {
  background: linear-gradient(
    to left,
    var(--orange-400) 50%,
    var(--orange-500) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.5s ease-out;
  color: #fff;
  border-color: var(--orange-500);
}
.p-button.slack:hover {
  background-position: left bottom;
}
.p-button.slack i {
  background-color: var(--orange-500);
}
.p-button.slack:focus {
  box-shadow: 0 0 0 1px var(--orange-200);
}
.p-button.amazon {
  background: linear-gradient(
    to left,
    var(--yellow-400) 50%,
    var(--yellow-500) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.5s ease-out;
  color: #000;
  border-color: var(--yellow-500);
}
.p-button.amazon:hover {
  background-position: left bottom;
}
.p-button.amazon i {
  background-color: var(--yellow-500);
}
.p-button.amazon:focus {
  box-shadow: 0 0 0 1px var(--yellow-200);
}
.p-button.discord {
  background: linear-gradient(
    to left,
    var(--bluegray-700) 50%,
    var(--bluegray-800) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.5s ease-out;
  color: #fff;
  border-color: var(--bluegray-800);
}
.p-button.discord:hover {
  background-position: left bottom;
}
.p-button.discord i {
  background-color: var(--bluegray-800);
}
.p-button.discord:focus {
  box-shadow: 0 0 0 1px var(--bluegray-500);
}
@media screen and (max-width: 960px) {
  .p-button {
    margin-bottom: 0.5rem;
    &:not(.p-button-icon-only) {
      display: flex;
      width: 100%;
    }
  }
  .p-buttonset {
    .p-button {
      margin-bottom: 0;
    }
  }
}
</style>
