<template>
  <div class="errors"></div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  async mounted() {
    await this.logout().then(() => {
      this.$router.push({ path: "/" });
    });
  },
  methods: {
    ...mapActions(["logout"]),
  },
};
</script>
