<template>Logging you in...</template>

<script>
import { mapActions } from "vuex";
export default {
  async created() {
    const params = new URL(window.location).searchParams;
    const provider = JSON.parse(localStorage.getItem("provider"));

    // compare the redirect state param and the stored provider's one
    if (provider.state !== params.get("state")) {
      this.$router.push({ name: "login" });
    }

    const route = this.$router.resolve({ name: "oauth_redirect" });
    const redirectUrl = new URL(route.href, window.location.origin).href;

    await this.oauthLogin({
      providerName: provider.name,
      code: params.get("code"),
      codeVerifier: provider.codeVerifier,
      redirectUrl: redirectUrl,
    })
      .then(() => {
        const returnPage = localStorage.getItem("returnPage");
        if (returnPage) {
          localStorage.removeItem("returnPage");
          window.location = returnPage;
        }
        this.$router.push({ name: "list_brackets" });
      })
      .catch(() => {
        this.$router.push({ name: "login" });
      });
  },
  methods: {
    ...mapActions(["oauthLogin"]),
  },
};
</script>
