<template>
  <div>
    <h2>User: {{ user.username }}</h2>
    <span>{{ user.name }}</span>
  </div>
</template>

<script>
import client from "@/data/pocketbase";
export default {
  data() {
    return {
      username: null,
      user: {},
    };
  },
  created() {
    this.username = this.$route.params.username;
    this.fetchUser(this.username);
  },
  methods: {
    async fetchUser(username) {
      const filter = `username="${username}"`;
      await client
        .collection("users")
        .getFirstListItem(filter)
        .then((response) => {
          this.user = response;
        });
    },
  },
};
</script>
