<template>
  <h2>Sign Up for SportSquares</h2>
  <div v-if="!success">
    <div>
      <label for="username">Username</label>
      <InputText id="username" type="text" name="username" v-model="username" />
    </div>
    <div>
      <label for="email">Email Address</label>
      <InputText id="email" type="email" name="email" v-model="email" />
    </div>
    <div>
      <label for="password">Password</label>
      <InputText
        id="password"
        type="password"
        name="password"
        v-model="password"
      />
    </div>
    <div>
      <label for="password_confirm">Re-enter Password</label>
      <InputText
        id="password_confirm"
        type="password"
        name="password_confirm"
        v-model="password_confirm"
      />
    </div>
    <div>
      <AppButton
        class="p-button-secondary"
        v-on:click="doRegister"
        text="Register"
      />
    </div>
  </div>
  <div v-if="success">
    Thank you for creating an account. Please check your email to verify your
    account and login.
  </div>
</template>

<script>
import { mapActions } from "vuex";
import AppButton from "@/ui/AppButton.vue";

export default {
  components: { AppButton },
  data() {
    return {
      email: null,
      success: false,
      username: null,
      password: null,
      password_confirm: null,
    };
  },
  methods: {
    async doRegister() {
      // TODO: Login the new user and redirect the user to their Profile page
      await this.register({
        username: this.username,
        email: this.email,
        password: this.password,
        password_confirm: this.password_confirm,
        name: this.username,
      });
    },
    ...mapActions(["register"]),
  },
  watch: {
    "$store.state.userRegisterSuccess"() {
      this.success = this.$store.state.userRegisterSuccess;
    },
  },
};
</script>
