<template>
  <div
    class="grid col-12"
    id="entry_square"
    v-on:click="reserve"
    :class="{ selected: selected }"
    @contextmenu="contextMenu"
  >
    <context-menu ref="context_actions" :model="context_actions" />
    {{ display_name }}
  </div>
</template>

<script>
import ContextMenu from "primevue/contextmenu";
import { mapActions, mapGetters } from "vuex";

export default {
  components: {
    ContextMenu,
  },
  computed: {
    context_actions() {
      const assignable = this.users_squares_available;
      const actions = [];

      // Admins can assign squares manually
      if (this.available && assignable.length > 0 && this.show_admin) {
        actions.push({
          label: "Assign Square",
          icon: "pi pi-fw pi-user-plus",
          items: [...assignable],
        });
      }

      // A user can deselect their own square or an Admin can deselect any square
      if (
        !this.available &&
        (this.show_admin || this.user.id === this.active_user?.id)
      ) {
        actions.push({
          label: "Clear Square",
          icon: "pi pi-fw pi-user-minus",
          command: () => {
            this.clear_square({ entry_id: this.entry.id });
          },
        });
      }

      return actions;
    },
    available() {
      return this.user.id === undefined && !this.entry;
    },
    color() {
      if (this.user?.color) {
        if (this.user.color.indexOf("#") !== 0) {
          return "#" + this.user.color;
        }
        return this.user.color;
      } else if (!this.available) {
        return "#dddddd";
      }

      return "#ffffff";
    },
    invertColor() {
      let color = this.color;
      if (color.indexOf("#") === 0) {
        color = color.slice(1);
      }
      // From https://stackoverflow.com/a/54569758
      return (
        "#" +
        (Number(`0x1${color}`) ^ 0xffffff).toString(16).substr(1).toUpperCase()
      );
    },
    display_name() {
      if (!this.available && this.user?.username) {
        return this.user.username;
      } else if (
        !this.available &&
        this.entry.expand.membership_id.custom_name
      ) {
        return this.entry.expand.membership_id.custom_name;
      }
      return this.square_number;
    },
    selected() {
      return (
        this.selected_squares.filter((x) => x === this.square_number).length > 0
      );
    },
    users_squares_available() {
      return this.assignable_users.map((user) => {
        return {
          label: user.displayName,
          command: () => {
            this.reserve_square({
              bracket_id: this.bracket_id,
              user_id: user.expand.user?.id,
              entry_number: this.square_number,
              membership_id: user.id,
            });
          },
        };
      });
    },
    ...mapGetters(["active_user", "selected_squares"]),
  },
  props: {
    assignable_users: Array,
    bracket_id: String,
    entry: Object,
    lock_changes: Boolean,
    square_number: Number,
    selectable: Boolean,
    show_admin: Boolean,
    user: {
      type: Object,
      default: () => {
        return {};
      },
    },
  },
  methods: {
    contextMenu(event) {
      if (this.context_actions.length > 0 && !this.lock_changes) {
        this.$refs.context_actions.show(event);
      }
    },
    reserve() {
      if (this.selected) {
        return this.unselect_square({ number: this.square_number });
      }

      if (this.selectable && !this.entry) {
        this.select_square({ number: this.square_number });
      }
    },
    ...mapActions([
      "clear_square",
      "select_square",
      "unselect_square",
      "reserve_square",
    ]),
  },
};
</script>

<style scoped>
#entry_square {
  background-color: v-bind(color);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: v-bind(invertColor);
}

.selected {
  border: 2px solid red;
}
</style>
