<template>
  <div class="grid col-12">
    <div class="col-12">
      <DataTable :value="entries" sortField="entry_number" sortOrder=1 stripedRows>
        <Column header="Square" field="entry_number" />
        <Column header="Numbers" field="numbers">
          <template #body="{ data }">
            <DataTable :value="data.numbers" stripedRows>
              <Column header="Quarter" field="quarter" />
              <Column header="Home" field="home_team" />
              <Column header="Away" field="away_team" />
            </DataTable>
          </template>
        </Column>
      </DataTable>
    </div>
  </div>
</template>

<script>
import DataTable from "primevue/datatable";
import Column from "primevue/column";
export default {
  components: {
    Column,
    DataTable,
  },
  props: {
    entries: Array,
    number_sets: Number,
  },
};
</script>
