<template>
  <div class="bracket-grid">
    <!-- Place the Home Team numbers across the top  -->
    <div class="bracket-grid home-label">
      <h3>{{ home_team_name }}</h3>
    </div>
    <div class="bracket-grid home-numbers">
      <div class="grid-item" v-for="number in home_numbers" :key="number">
        {{ number }}
      </div>
    </div>

    <!-- Place the Away team numbers in a column on the left side -->
    <div class="bracket-grid away-label">
      <h3>{{ away_team_name }}</h3>
    </div>
    <div class="bracket-grid away-numbers">
      <div class="grid-item" v-for="number in away_numbers" :key="number">
        {{ number }}
      </div>
    </div>

    <!-- Display a 10x10 grid of the Squares -->
    <div class="bracket-grid squares">
      <div class="grid-item" v-for="(square, index) in squares" :key="index">
        <Square
          :square_number="index + 1"
          :entry="square?.entry"
          :bracket_id="bracket_id"
          :user="square?.user"
          :selectable="selectable"
          :show_admin="show_admin_context"
          :assignable_users="members_with_remaining_picks"
          :lock_changes="this.numbers_generated"
        ></Square>
      </div>
    </div>
  </div>
</template>

<script>
import Square from "@/components/BracketSquare.vue";
import { mapGetters } from "vuex";
export default {
  components: {
    Square,
  },
  computed: {
    members_with_remaining_picks: function () {
      const members = this.members.filter((member) => {
        return member.entries > this.user_entries(member.id);
      });
      return members;
    },
    show_admin_context: function () {
      return this.bracket_owner === this.active_user?.id;
    },
    squares: function () {
      const squares = new Array(100);
      this.entries.forEach((entry) => {
        squares[entry.entry_number - 1] = {
          user: entry.expand.user_id,
          entry: entry,
        };
      });
      return squares;
    },
    ...mapGetters(["active_user"]),
  },
  props: {
    away_numbers: [],
    away_team_name: String,
    bracket_id: null,
    bracket_owner: null,
    home_numbers: [],
    home_team_name: String,
    entries: [],
    members: [],
    selectable: Boolean,
    numbers_generated: Boolean,
  },
  methods: {
    user_entries(member) {
      return this.entries.filter((entry) => entry.membership_id === member)
        .length;
    },
  },
};
</script>

<style scoped>
.bracket-grid {
  display: grid;
}

.home-label {
  grid-row: 1;
  grid-column-start: 2;
  grid-column-end: 11;
  text-align: center;
}

.away-label {
  grid-column: 1;
  grid-row-start: 2;
  grid-row-end: 11;
  transform: rotate(270deg);
  align-items: center;
}

.away-numbers {
  grid-area: away-numbers;
  grid-template-rows: repeat(10, minmax(75px, 75px));
  grid-template-columns: repeat(1, minmax(75px, 75px));
  grid-column: 2;
  grid-row: 3;
}

.home-numbers {
  grid-area: home-numbers;
  grid-template-rows: repeat(1, minmax(75px, 75px));
  grid-template-columns: repeat(10, minmax(75px, 75px));
  grid-column: 3;
  grid-row: 2;
}

.squares {
  grid-area: squares;
  grid-template-rows: repeat(10, minmax(75px, 75px));
  grid-template-columns: repeat(10, minmax(75px, 75px));
  grid-row: 3;
  grid-column: 3;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: lightgray;
  border: 1px solid gray;
}
</style>
