@import './base.css';
@import "/node_modules/primeflex/primeflex.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
        'header'
        'main';
  padding: 0 2rem;
  font-weight: normal;
  height: 100vh;
  width: 90%;
}
body {
  display: flex;
  place-items: center;
}

a {
  transition: 0.4s;
  text-decoration: none;
  color: hsl(212, 100%, 37%);
}

.green {
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

p {
  margin-bottom: 1em;
}

strong {
  font-weight: bold;
}

main {
  padding: 10px 0;
}

.page-actions {
  margin-bottom: 15px;
  margin-top: 5px;
}

@media (hover: hover) {
  nav a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}