<template>
  <header class="grid">
    <logo class="col-4 sm:col-12">
      <router-link to="/">
        <img src="./assets/logo.svg" />
      </router-link>
    </logo>
    <nav class="col-8 sm:col-12">
      <router-link to="/getting-started">How it Works</router-link>
      <router-link to="/login" v-show="!authenticated">Login</router-link>
      <router-link to="/brackets" v-show="authenticated"
        >My Brackets</router-link
      >
      <router-link to="/profile" v-show="authenticated">Profile</router-link>
    </nav>
  </header>
  <main>
    <router-view></router-view>
  </main>
  <footer>
    <Toast />
  </footer>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  computed: {
    user() {
      return this.$store.user;
    },
    ...mapGetters(["authenticated"]),
  },
};
</script>

<style scoped>
header {
  line-height: 1.5;
  grid-row: 1;
  grid-row-gap: 10px;
  display: grid;
  grid-area: header;
}
header logo {
  display: flex;
  grid-column: 1;
}

header nav {
  display: grid;
  grid-column: 2;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

main {
  width: 100%;
  grid-row: 2;
  grid-area: main;
}

nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

@media (max-width: 680px) {
  header {
    max-width: 680px;
  }
  header logo {
    /*width: 100%;*/
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  header nav {
    grid-row-gap: 10px;
    grid-column: 1;
    grid-row: 2;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 520px) {
  header {
    max-width: 520px;
  }
}
</style>
